@charset "utf-8";

// Palette - F9FD50 - 00BD56 - 00BD56 - 207DFF - 0F3974

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700,800,900');

$family-sans-serif: "Heebo", sans-serif;
$weight-light: 400;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 700;
$weight-bold: 800;

$text: #111;
$text-strong: #111;
$text-light: #222;

$primary: #00BD56;
$link: $primary;

$control-border-width: 2px;
$input-hover-border-color: transparent;
$input-focus-border-color: transparent;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: hsl(0, 0%, 96%);

$gap: 8px;

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.block {
  margin-top: 3rem;
}

@import "~bulma/bulma";
